*.class

# Package Files #
*.jar
*.war
*.ear

.classpath

.project

.settings/org.eclipse.jdt.core.prefs

.settings/org.eclipse.m2e.core.prefs

*.DS_Store

target/classes/de/kumpelblase2/removeentities/.DS_Store

dependency-reduced-pom.xml

target/maven-archiver/pom.properties
