*.class
# Package Files #
*.war
*.ear

.classpath
.project
.settings/*
*.prefs

*.DS_Store
dependency-reduced-pom.xml

*/target/*
target/*
releases/*
snapshots/*

*.prefs

*.idea
*.iml
.idea/*
out/*

src/main/resources/rebel.xml

*.jar

rebel.xml
